apiVersion: v1
kind: PersistentVolume
metadata:
  name: cassandra-pv
spec:
  capacity:
    storage: 512Mi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/cassandra"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cassandra-storage-cassandra-0
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 512Mi
